<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOL6n31AlHbV3724WQs5dpKaGS0nq60QA</string>
	<key>GCM_SENDER_ID</key>
	<string>78072794103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzhanay.FilmAramaSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>filmkitabifb</string>
	<key>STORAGE_BUCKET</key>
	<string>filmkitabifb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78072794103:ios:e7c51ad51abe6715fd7cf2</string>
	<key>DATABASE_URL</key>
	<string>https://filmkitabifb-default-rtdb.firebaseio.com</string>
</dict>
</plist>